body {
    transform: scale(1.2);
    transform-origin: 0 0;
}
table {
    height: 360px;
    width: 300px;
}
table, thead, tbody, tfoot, tr, th, td {
    border: 1px solid black;
}
thead {
    height: 50px;
}
tfoot {
    height: 80px;
}
form {
    display: none;
}
.event-btn {
    font-size: small;
    font-weight: bolder;
}
.event-btn:hover {
    cursor: pointer;
}
#karp {
    position: relative;
    top: 10px;
    left: 10px;
}
#field {
    height: 100%;
    background-image: url('/content/field');
    background-size: cover;
}
#description {
    width: 200px;
}
#changeFieldBtn {
    position: relative;
}
#changeFieldBtn img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 18px;
    width: 18px;
}