<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>love karp</title>
</head>
<body>
    <div>
        <table>
<thead>
    <tr>
        <th colspan="2">
            잉어
        </th>
    </tr>
</thead>
<tbody>
    <tr>       
        <td colspan="2">
            <div id="field">
                <img id="karp" src="image/karp.png" alt="karp">
            </div>
            <div id="changeFieldBtn" onclick="document.querySelector('form>input[type=file]').click()"><img src="static/image-icon.svg" alt=""></div>
            <form action="/imageUpload/field" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" onchange="this.form.submit()">
            </form>
        </td>         
    </tr>
</tbody>
<tfoot>
    <tr>
        <td id="description">
            잉엇 잉엇
        </td>
        <td id="action">
            <span class="event-btn" onclick="splash()">▸싸우다</span>
        </td>
    </tr>
</tfoot>
        </table>
    </div>
    <script>
const karp = document.getElementById("karp")
const description = document.getElementById("description")
const action = document.getElementById("action")

async function typeText(element, text, speed=60) {
    element.textContent = ""; 
        for (let i = 0; i < text.length; i++) {
            element.textContent += text[i];
        await new Promise(resolve => setTimeout(resolve, speed));
    }
    await new Promise(resolve => setTimeout(resolve, 1000));
    return true;
}

async function jump(speed=60) {
    await new Promise(resolve => setTimeout(resolve, 100));
    karp.src = "/image/karp-move.png";
        for (let i = 0; i < 20; i++) {
            karp.style.top = Math.floor(Math.random()*100)-50 + "px";
            karp.style.left = Math.floor(Math.random()*20) + "px";
        await new Promise(resolve => setTimeout(resolve, speed));
    }
    karp.src = "/image/karp.png";
    return true;
}

function splash() {
    description.colspan = 2;
    action.style.display = "none";
    fetch("/splash")
    .then((response) => response.json())
    .then((data) => {
        jump()
        typeText(description, `잉어킹은 ${data.move}를 썼다!`)
        .then(() => {
            typeText(description, data.result).then(() => {
                description.removeAttribute("colspan");
                action.removeAttribute("style");
            });
        });
    });
}       
    </script>
</body>
</html>